.container{
    width: 80%;
    /* height: 60%; */
    margin: 20px;
   
    
}
  .item-1,.item-2,.item-3,.item-4{
    display: inline-block;
    width: 270px;
   margin: 10px;
    
  }
  #container2{
    width: 80%;
    margin: 20px;
  }
  #item-5,#item-6,#item-7,#item-8{
    display: inline-block;
    width: 270px;
   margin: 10px;
  }
  .main{
    
    width:70px;
    
  }
  h1{
    display: inline-block;
    padding-left: 600px;
    padding-bottom: 20px;
    margin-left: 10px;
  }
  .h1{
    padding-left: 400px;
  }
  .container3{
    width: 80%;
    margin-left: 100px;
  }
  img{
    width: 200px;
    /* margin-left: 150px; */
  }
  h2{
    display: inline-block;
    padding-left:500px ;
  }
  /* p{
    margin-left: 50px;
  } */
  .container4{
    width: 100%;
    margin-left: 50px;
  }
  .item-9{
    display: inline-block;
    width: 400px;
   border-color: brown;
  } 
  .item-10{
    display: inline-block;
    width: 500px;
    /* border:2px solid blue !important; */
  }
  .item-10 img{
    width: 100px;
  }
  .item-11{
    display: inline-block;
    width: 500px;
    border-color: blueviolet;
  }
 
 
 img{
 
  width: 100%
 }
 .con p{
  display: inline-block;
 }
 .item-11 .m{
  color: azure;
 }
 